body.noscroll {
	overflow: hidden;
}



.imgs {
	display: grid;
	grid-template-columns: repeat(auto-fit, min(calc((720px - 30vw) / 0.9), 100%));
	padding: 2%;
	justify-content: center;
}

.imgs .img {
	border: 1px solid white;
	margin: 2%;
	padding-top: calc(100% - 2px);
	position: relative;
}

.imgs img {
	height: 100%;
	left: 0;
	object-fit: cover;
	object-position: center center;
	position: absolute;
	top: 0;
	width: 100%;
}

.imgs input:checked + img {
	background-color: #50505080;
	object-fit: contain;
	position: fixed;
	z-index: 1;
}